.Terminal{
	height: 100%;
    background-color: #202124;
	overflow:scroll;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */      
}


.welcomeMsg {
	color: white;
	font-size: 20px;
	margin-left: 2em;
}

.outputList{
	height: 100%;
	margin:0;
	list-style-type: none;
	color: white;
	font-size: 20px;
}

#terminalInput{
	background-color: #202124;
	color:white;
	font-size: 20px;
	width:90%;
	border: none;
	outline: none;
}

#terminalInput:focus{
	border:none;
}
