.vscode
.idea
.git
logs
**/*.json
**/*.config
**/*.md
**/*.html
**/*.hbs
**/*.css
**/*.ps1
**/*.sh
**/*.csv
**/*.txt
**/*.php
node_modules/
TEST-RESULTS.xml
swagger.yaml
swagger-gateway.yaml
bin/
entities/
public/css/
public/fonts/
public/docs/
public/vendor/
public/img/
public/uploaded_files/
public/js/krackon/
public/js/server/
sql/
tests/
views/