.title {
    font-size: 40px;
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    left: 60px;
    top: 30px;
}

div.container {
    text-align: center;
    margin: 100px auto 0;
}

h1 {
    font-size: 50px;
    margin-bottom: 50px !important;
    margin-top: 100px !important;
}

h2 {
    margin-bottom: 30px !important;
}

h1,
h2,
p,
button {
    margin: 0 auto;
    color: rgba(243, 243, 215, 1);
    font-weight: normal;
    text-align: center;
}



button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 7rem;
    height: 8rem;
    padding: 2rem 1rem;
    border: none;
    background-color: transparent;
    color: rgba(243, 243, 215, 1);
    font-family: inherit;
    outline: none;
}
a {
    display: inline-block;
    background-color: lightslategrey; /*was #5a6188e6 */
    color: rgba(243, 243, 215, 1);
    font-size: 1.5em;
    font-family: Courier, sans-serif;
    padding: 1em 5em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.5em;
    -moz-transition: 0.1s;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    position: relative;
}
